@font-face {
    font-family: "Kaushan";
    src: url("/public/static/fonts/KaushanScript-Regular.otf") format("opentype");
}

.navItem:hover {
    background-color: beige;
}

.introModal {
    width: 90%;
}

.introText {
    width: 90%;
}

.toolButton {
    margin-right: 5px;
}
