@font-face {
    font-family: "Kaushan";
    src: url("/public/static/fonts/KaushanScript-Regular.otf") format("opentype");
}

.navItem:hover {
    background-color: beige;
}

.soundControl {
    margin-right: 5px;
}
